body {
    background-color: #D9D9D9;
    font-family: 'Lora', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

/* header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding-top: 20px;
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.menul {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    border: 2px solid #686565;
    transition: background-color 0.3s;
}

.menul:hover {
    background-color: #686565;
}

h2 {
    margin: 10px;
}

h1{
    margin: 25px;
}

p {
    margin: 10px;
}

a {
    color: #D9D9D9;
}

ul {
    margin: 0px 0px 30px 0px;
}

main {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 50px 200px;
    padding: 25px;
    background-color: #fff;
    border-radius: 15px;
}

section {
    align-items: center;
}

img {
    max-width: 500px;
    height: auto;
    margin-top: 30px;
}

.button{
    display: inline-block;
    padding: 20px 40px;
    margin: 25px;
    background-color: #333;
    border: 2px solid #686565;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    font-family: 'Lora', sans-serif;
    transition-duration: 1s;
}

.button:hover:hover{
    font-size: 18px;
    transition-duration: 1s;
    background-color: #686565;
}

/* footer */
footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px 0;
    margin-top: auto;
}

#contacte, #enllacos {
    margin: 10px;
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: auto
}

#contacte, #enllacos {
    display: flex;
    flex-direction: column;
}

#contacte h2, #enllacos h2 {
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    margin: 0;
}

#contactes {
    display: flex;
}